//NAV
$n-75:75px;
$m-75:250px;

//NAV

//GENERAL

//color
$mainC:#912298;
$mainI:linear-gradient(0deg, #912298 0%, #1d3b71 23%, #1f9c68 41%, #060606 70%);


//sizing index
$img-700:700px;
$img-400:400px;
$img-300:300px;
$img-200:200px;

//GENERAL



//FOOTER

$f-70:70px;

$menuCyF:rgb(54, 55, 151);

$fontF:22px;

//FOOTER



