
#errorP {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        font-family: $thridFont;
        font-size: $tittle5;
        color: #ffffff
    }
}

#errorP h1{
    font-family: $forthFont;
    font-size: $tittle1;
}

#errorP img{
    width: 350px;
    height: auto;
}

.volver button{
    font-family: $thridFont;
    margin-top: 2rem;
    background-color: #2601fa;
}

@media only screen and (min-width: 450px) and (max-width: 1050px){

    #errorP h1{
        font-size: 75px;
    }

    #errorP p{
        display: inline-block;
        font-size: 45px;
    }
    
    .volver button{
        width: 30vw;
        height: 65px;
    }

}

@media only screen and (min-width: 300px) and (max-width: 450px){
    #errorP h1{
        font-size: 50px;
    }

    #errorP img{
        width: 250px;
        height: auto;
    }

    #errorP p{
        display: inline-block;
        font-size: 15px;
    }
    
    .volver button{
        width: 40vw;
        height: 58px;
    }

}
    

