@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap');

$primaryFont:'Bebas Neue', cursive;
$secondaryFont:'Teko', sans-serif;
$thridFont:'Permanent Marker', cursive;
$forthFont:'Alfa Slab One', cursive;


//font-size
$primarySize:30px;
$secondarySize:10px;

//font-title
$tittle1:50px;
$tittle2:45px;
$tittle3:40px;
$tittle4:35px;
$tittle5:30px;
$tittle6:20px;

//color letras

$paleta:(
'uno':white,
'dos':orangered,
'tres':#48064d,
'cuatro':#01eb28,
);
