footer{
    height: $f-70;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #e94848 100%);
    padding: 0.8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $primaryFont;
    font-size: $tittle6;
    color: $menuCyF;
}

.reds{
    a{
        text-decoration: none;
    }
}

